---

---
<div class="section cft" id="cft">
    <h2 class="title">CALL FOR TALKS</h2>
    <hr/>
       
            <h3 class="text-title mb-1">ElixirConf® EU Virtual 2020 is an online two-track conference with 30-minute speaking slots with optional Q&A.</h3>

            <p class="text-content mb-2" align="center">
               The event will run from 2pm to 7pm CEST (8am EDT to 1pm EDT) on both days.<br/>
            We are looking for speakers with Elixir-centric content and also speakers who can bring pragmatic and practical knowledge into their Elixir talks. It doesn't matter if you are new to Elixir or have multiple years on a core team. We look forward to what you can share with the global Elixir community.
            </p>
  <ul>Below are some topics to get your creative juices flowing:<ul>

<li>Adoption and/or leveraging of Elixir</li>
<li>Elixir Ecosystems: Phoenix, Ecto, Nerves, Scenic, LiveView</li>
<li>Deployment: Tools, strategies, and stories</li>
<li>Distributed Systems: Presence, Broadway, multi-node, and stories</li>
<li>In the Wild: Elixir in Web, Gaming, Medical, Data science, etc.</li>
<li>Elixir for Corporate Computing, Small Businesses, or Startups</li>
<li>Tools and Testing: Methodologies, IDEs, and strategies</li>
<li>Related Topics (BEAM, ETS, OTP, CRDT, Compiler)</li>
     <a class="page-scroll btn-outline btn-orange mb-3 btn-orange" href="https://eventil.com/events/elixirconf-v-2020">Submit</a>
    </div>
