<div class="cover" id="cover">
  <div class="logo" style="width:250px">
    <img src="/assets/images/Logo-Virtual-ElixirConf EU-white-font.svg" alt="icon-about" style="width: 250px; ">
  </div>
  <h4 class="date" style="text-align:center;">Welcome to the first ever ElixirConf EU Virtual<br />
    <span style="color:#fff;font-size:22px;">Conference 18-19 June | Training 8-17 June | Online, from the comforts of your home</span>
  </h4>
  
    
  <hr />
  <a class="page-scroll btn-outline mb-3 btn-purple" href="mailto:info@elixirconf.eu"
    >CONTACT US</a

  <a class="page-scroll btn-arrow" href="#welcome">
    <i class="fa fa-chevron-down"></i>
  </a>
</div>
